.card {
    width: 20%;
    border-radius: 5px;
    transition: 0.3s;
    align-content: flex-end;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 5px 5px 0 0;
}