.container {
    padding: 100px 100px;
    height: 1000px;
    width: 800px;
    background-color: white;
    text-align: center;
    text-justify: auto;
}

.sign-in-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    background-color: yellow;
}